@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
@keyframes itemAppear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes jump {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(0.5rem);
  }
  75% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(0);
  }
}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

figure {
  padding: 0;
  margin: 0;
}

ul {
  padding-inline-start: 0;
}

.container {
  max-width: 1280px;
  position: relative;
  margin: auto;
}

.header {
  position: relative;
  padding: 1rem 1rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  z-index: 1000;
}
.header__logo {
  font-family: "Shrikhand", cursive;
  margin: 0;
  text-align: center;
}

.footer {
  background-color: #353535;
}
.footer .container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.footer__logo {
  color: white;
  font-family: "Shrikhand", cursive;
  font-size: 1.2rem;
  margin: 0 0 1rem 0;
}
.footer__listes {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.footer__liste {
  margin: 0.5rem 0;
}
.footer__liste:first-child {
  margin-top: 0;
}
.footer__liste:last-child {
  margin-bottom: 0;
}
.footer__link {
  color: white;
  text-decoration: none;
}
.footer__link:hover {
  text-decoration: underline;
}
.footer__icone {
  width: 1.2rem;
  margin-right: 0.5rem;
}

.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.5);
  animation: loader 0.01s;
  animation-delay: 1.75s;
  animation-fill-mode: both;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader__item {
  height: 1rem;
  width: 1rem;
  border-radius: 1rem;
  animation: jump 1s;
  animation-iteration-count: 1;
}
.loader__item--1 {
  background-color: #9356DC;
}
.loader__item--2 {
  background-color: #ff79DA;
  animation-delay: 0.25s;
}
.loader__item--3 {
  background-color: #99E2D0;
  animation-delay: 0.5s;
}
.loader__containerItems {
  display: flex;
  width: 5rem;
  justify-content: space-between;
}

.local {
  display: flex;
  justify-content: center;
  padding: 1.25rem 1rem;
  background-color: #e4e4e4;
  font-size: 1.25rem;
}
.local__icone {
  margin-right: 1rem;
}
.local__text {
  font-weight: 700;
}

.hero {
  padding: 2rem;
  text-align: center;
  background-color: #fafafa;
}
.hero__title {
  margin: 0;
}
.hero__subtitle {
  font-weight: 300;
  margin: 1.5rem 0;
}
.hero a {
  text-decoration: none;
}
.hero__btn {
  border: none;
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 100px;
  color: white;
  cursor: pointer;
  background-color: #9356DC;
  transition-duration: 0.25s;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  background: #9356dc;
  background: linear-gradient(353deg, #9356dc 0%, #ff79da 90%);
}
.hero__btn:hover {
  background-color: #fff;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
}

.fonctionnement {
  padding: 2rem 1rem;
}
.fonctionnement__title {
  margin-top: 0;
}
.fonctionnement__items {
  margin: 0;
  padding: 0;
  list-style: none;
  counter-reset: compteliste;
}
@media screen and (min-width: 1024px) {
  .fonctionnement__items {
    display: flex;
  }
}
.fonctionnement__item {
  padding: 1.5rem;
  margin: 1rem 0 1rem 0.75rem;
  box-shadow: 0.25rem 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
  border-radius: 1.25rem;
  background-color: #f6f6f6;
  display: flex;
  position: relative;
}
.fonctionnement__item:hover {
  background-color: #f2dff4;
}
.fonctionnement__item:hover i.fonctionnement__icone {
  color: #9356DC;
}
@media screen and (min-width: 1024px) {
  .fonctionnement__item {
    flex: 1;
    margin-left: 2rem;
  }
  .fonctionnement__item:first-child {
    margin-left: 0.75rem;
  }
}
.fonctionnement__item::before {
  counter-increment: compteliste;
  content: counter(compteliste) "";
  background-color: #9356DC;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: absolute;
  left: -0.75rem;
}
.fonctionnement__icone {
  margin-right: 1rem;
  color: #747474;
}

.restaurants {
  background-color: #f6f6f6;
  padding: 2rem 1rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
}
@media (min-width: 1024px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
.cards li {
  list-style-type: none;
}

.card {
  background-color: white;
  color: black;
  border-radius: 1rem;
  position: relative;
  text-decoration: none;
  display: block;
}
.card__img {
  height: 12rem;
  width: 100%;
  border: 0.1px solid transparent;
  border-radius: 1rem;
  object-fit: cover;
}
.card__badge {
  background-color: #99E2D0;
  color: #1b6150;
  padding: 0.5rem;
  border-radius: 0.125rem;
  position: absolute;
  top: 1rem;
  right: 0.75rem;
}
.card__figcaption {
  padding: 1rem;
  position: relative;
  display: flex;
  align-items: center;
}
.card__content {
  flex: 1;
}
.card__title {
  margin: 0;
  margin-bottom: 0.25rem;
}
.card__subtitle {
  margin: 0;
}
.card__btn {
  height: 2rem;
  width: 2rem;
  background-color: transparent;
  border: transparent 0px solid;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__like {
  background-color: white !important;
}

.header--withArrow {
  position: relative;
}
.header__arrow {
  position: absolute;
  left: 2rem;
  height: 2rem;
  width: 2em;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-50%);
  font-size: 1.2rem;
  color: black;
}

.heroimg {
  max-width: 100%;
  max-height: 12rem;
  width: 100%;
  object-fit: cover;
}

.menu {
  margin-top: -1.5rem;
  border-radius: 2rem 2rem 0 0;
  background-color: #f6f6f6;
  z-index: 1;
  position: relative;
}
.menu__header {
  padding: 1rem 2rem 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.menu__title {
  font-family: "Shrikhand", cursive;
  z-index: 10;
}
.menu__btn {
  height: 2rem;
  width: 2rem;
  background-color: transparent;
  border: transparent 0px solid;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  background-color: #d8d6d6;
}
.menu__btn:hover::before {
  opacity: 1;
}
.menu__btn::before {
  opacity: 0;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: 0.5s;
  background: linear-gradient(353deg, #9356dc 0%, #ff79da 90%);
}
.menu__like {
  background-color: #f6f6f6;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  mix-blend-mode: lighten;
  transition-duration: 0.25s;
}
.menu__btn:hover .menu__like--nobg {
  opacity: 0;
}

.submenus {
  display: grid;
}
@media (min-width: 1024px) {
  .submenus {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
  }
}

.submenu {
  max-width: 100%;
  overflow: hidden;
  padding: 0 1rem;
}
.submenu__title {
  position: relative;
  padding-bottom: 0.5rem;
  font-weight: normal;
}
.submenu__title::after {
  content: "";
  width: 3rem;
  height: 0.25rem;
  background-color: #99E2D0;
  position: absolute;
  left: 0;
  bottom: 0;
}

.menuItem {
  background-color: white;
  display: flex;
  list-style-type: none;
  border-radius: 0.75rem;
  margin: 1rem 0;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  animation: itemAppear 1s;
  animation-timing-function: cubic-bezier(0.5, 1.58, 0.34, 0.82);
  animation-fill-mode: both;
  transform: scale(0);
  max-width: 100%;
}
.menuItem__infos {
  padding: 1rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 1;
}
.menuItem__title {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-bottom: 4px;
}
.menuItem__description {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menuItem__price {
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0 16px 16px 0.5rem;
}
.menuItem__confirmation {
  background-color: #99E2D0;
  margin: -1rem -5rem -1rem 1rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
}
.menuItem__confirmation:hover {
  margin-right: -1rem;
}
.menuItem__wrapIcone {
  height: 1.6rem;
  width: 1.6rem;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
}
.menuItem__icone {
  color: #99E2D0;
  transform: rotate(180deg);
  transition-duration: 0.4s;
}

.menuItem:hover .menuItem__confirmation {
  margin: 0;
}
.menuItem:hover .menuItem__confirmation .menuItem__icone {
  transform: rotate(0deg);
}

.dely-0 {
  animation-delay: 0.9s;
}

.dely-1 {
  animation-delay: 0.8s;
}

.dely-2 {
  animation-delay: 0.7s;
}

.dely-3 {
  animation-delay: 0.6s;
}

.dely-4 {
  animation-delay: 0.5s;
}

.dely-5 {
  animation-delay: 0.4s;
}

.dely-6 {
  animation-delay: 0.3s;
}

.dely-7 {
  animation-delay: 0.2s;
}

.dely-8 {
  animation-delay: 0.1s;
}

.dely-9 {
  animation-delay: 0s;
}

.wrapBtn {
  display: flex;
  text-decoration: none;
  justify-content: center;
  padding: 3rem 0;
}

.commandBtn {
  border: none;
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 100px;
  color: white;
  cursor: pointer;
  background-color: #9356DC;
  transition-duration: 0.25s;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  background: #9356dc;
  background: linear-gradient(353deg, #9356dc 0%, #ff79da 90%);
  cursor: pointer;
}
.commandBtn:hover {
  background-color: #fff;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
}

/*# sourceMappingURL=style.css.map */
