
.footer{
    background-color: rgb(19, 17, 17);

    .container{
        display: flex;
        flex-direction: column;
        padding: 1rem;
        
    }

    &__logo{
        color: white;
        font-family: 'Shrikhand', cursive;
        font-size: 1.2rem;
        margin: 0 0 1rem 0;
    }
    &__listes{
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    &__liste{
        margin: 0.5rem 0;
        &:first-child{
            margin-top: 0;
        }
        &:last-child{
            margin-bottom: 0;
        }
        
    }
    &__link{
        color: white;
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
    }
    &__icone{
        width: 1.2rem;
        margin-right: 0.5rem;
    }
}